<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Teacher</th>
            <th>Department</th>
            <th>Term</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<courses.length; i++) { %> 
            <tr>
                <td><%= courses[i].title %></td>
                <td><%= courses[i].teacher_ref.name %></td>
                <td><%= courses[i].department %></td>
                <td><%= courses[i].term %></td>
                <td>
                    <a href="/update-course?id=<%= courses[i]._id %>" class="btn border-shadow update">
                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                    </a>
                    <a class="btn border-shadow delete" data-id=<%= courses[i]._id %>>
                        <span class="text-gradient"><i class="fas fa-times"></i></span>
                    </a>
                </td>
                <td>
                    <a href="/open-course?id=<%= courses[i]._id %>" class="btn border-shadow update">
                        <span class="text-gradient route-link">Open Course <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    </a>
                </td>
            </tr>
            <% } 
            %>             
</tbody>
</table>