<%= course.title %>
<%= course.term %>

<table class="table"> 
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Program</th>
            <th>Batch</th>
            <th>Drop</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<course.studentsEnrolled.length; i++) { %> 

            <tr>

                <td><%= course.studentsEnrolled[i].name %> </td>
                <td><%= course.studentsEnrolled[i].email %></td>
                <td><%= course.studentsEnrolled[i].program %></td>
                <td><%= course.studentsEnrolled[i].batch %></td>
                <td>
                    <a class="btn border-shadow delete" c-id=<%= course._id %> s-id=<%= course.studentsEnrolled[i]._id %>>
                        <span class="text-gradient"><i class="fas fa-times"></i></span>
                    </a>
                </td>
            </tr>
            <% } 
            %>             
</tbody>
</table>