<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Program</th>
            <th>Batch</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<students.length; i++) { %> 

            <tr>
                <td><%= students[i].name %> </td>
                <td><%= students[i].email %></td>
                <td><%= students[i].program %></td>
                <td><%= students[i].batch %></td>
                <td>
                    <a href="/update-student?id=<%= students[i]._id %>" class="btn border-shadow update">
                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                    </a>
                    <a class="btn border-shadow delete" data-id=<%= students[i]._id %>>
                        <span class="text-gradient"><i class="fas fa-times"></i></span>
                    </a>
                </td>
            </tr>
            <% } 
            %>             
</tbody>
</table>