<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Salary</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<teachers.length; i++) { %> 
            <tr>
                <td><%= teachers[i].name %> </td>
                <td><%= teachers[i].email %></td>
                <td><%= teachers[i].department %></td>
                <td><%= teachers[i].designation %></td>
                <td><%= teachers[i].salary %></td>
                <td>
                    <a href="/update-teacher?id=<%= teachers[i]._id %>" class="btn border-shadow update">
                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                    </a>
                    <a class="btn border-shadow delete" data-id=<%= teachers[i]._id %>>
                        <span class="text-gradient"><i class="fas fa-times"></i></span>
                    </a>
                </td>
                <td>
                    <a href="/add-course?tid=<%= teachers[i]._id  %> " class="border-shadow">
                        <span class="text-gradient route-link">New Course <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </a>
                </td>
            </tr>
            
        <% } 
        %>
    </tbody>
</table>

<!-- <div class="box-nav d-flex justify-between">
    <a href="/add-course" class="border-shadow">
        <span class="text-gradient route-link">New Course <i class="fa fa-user" aria-hidden="true"></i>
        </span>
    </a>
</div> -->